*{margin: 0; padding: 0;}

.bg{
	width: 100%;
	height: 600px;
	background: url(2.jpg) 0 -486px;
	background-size:163%;
	position: relative;
	animation: cd 5s linear infinite;
	background-repeat: repeat-x;
}
@keyframes cd{
	100%{background-position-x:-100% }
}
.runner{
	width: 266.666px;
	height: 200px;
	background: url(runner.png);
	animation: run 1s steps(24) infinite,slide 5s steps(200) infinite;
	margin-left: 78%;
	position: absolute;
	top: 270px;
}

@keyframes run{
	100%{background-position: -6400px};
}
@keyframes slide{
	100%{margin-left: -266.67px };
}
.man{
	width: 108px;
	height: 140px;
	background:url(man.png);
	animation: man 1s steps(8) infinite,slide 5s steps(200) infinite;
	background-position-y: -140px;
	margin-left: 85%;
	position: absolute;
	top: 432px;
}

@keyframes man {
	100%{background-position-x: 864px};
}



.anhto{
	width: 100%;
	height: 712px;
	background: url(3.jpg) no-repeat;
	background-size: 100%;
	position: relative;
}
.anhnho{
	width: 100%;
	height: 712px;
	background: url(4.png);
	background-repeat: repeat;
	animation: rain 0.3s linear infinite;
}


@keyframes rain{
	100%{
		background-position: 20% 100%;
	}
}
.anhnho:before{
	content: '';
	width: 100%;
	height: 100%;
	background: #fff;
	animation: set 4s linear infinite;
	opacity: 0;
	position: absolute; /*quan trong ne*/
}
@keyframes set{
	0%{opacity: 0;}
	10%{opacity: 0;}
	11%{opacity: 1;}
	14%{opacity: 0;}
	20%{opacity: 0;}
	21%{opacity: 1;}
	24%{opacity: 0;}
	104%{opacity: 0;}


}
