*{
    margin:0;
    padding:0;
}
#logo{
    width:10%;
}

.result{
    text-decoration: none;
    color:black;
    display: block;
    margin-bottom: 10px;
    padding: 10px 10px;
}
.result:link{
    text-decoration: none!important;
  }